:root {
  --bg: #161616 url(img/concrete.png);
  --panel-bg: #313031;
  --frame-bg: #242324;
  --title-color: #ffe6c0;
  --body-color: #fff;
  --input-color: #1d1c1d;
  --infotext-color: #75dafb;
  --disabled-color: #b3b1b3;
  --factorio-orange: #ffae00;
  --orange-border: 2px solid var(--factorio-orange);
  --blur-color: #241508;
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.143;
  letter-spacing: 0.05ch;
  color: var(--body-color);
  border: 0;
  background: var(--bg);
}

button, .button .button {
  box-shadow: 0 0 10px 9px var(--blur-color);
}

input:active, input:focus, input:hover, button:hover, button:active {
  --blur-color: var(--factorio-orange);
  outline: none;
}

p {
  margin: 0 0 8px 0;
}

a {
  color: var(--factorio-orange);
}

a:active {
  color: #fff;
}

a:visited {
  color: var(--title-color);
}

img {
  vertical-align: middle;
  filter: drop-shadow(0 0 3px var(--shadow-color, #111));
}

img[title=Coal], img:hover, img:active img:focus {
  --shadow-color: var(--factorio-orange);
}

.main {
  display: flex;
  align-items: flex-start;
}

.leftcolumn, .rightcolumn>* {
  background: var(--panel-bg);
  margin: 15px;
  border-image: url('img/PanelBorder.png') 
    8 fill / 8px / 8px repeat;
  padding: 8px;
  box-shadow: 0 0 10px 10px #000;
}

.leftcolumn::after, .rightcolumn>.result::after {
  content: '';
  display: block;
  background-image: url(img/handle.png);
  background-size: 8px 48px;
  width: 100%;
  height: 48px;
  margin-top: 16px;
}

p.button {
  width: 100%;
  text-align: center;
  margin: 40px 0 10px;
}
.button .button, button {
  margin: auto;
  color: #000;
  text-decoration: none;
  font: inherit;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  border-image: url('img/ButtonBorder.png') 
  7 fill / 7px / 7px repeat;
  border-width: 0;
  padding: 0 20px 3px;
}

button:hover {
  border-image-source: url('img/ButtonBorder_hover.png');
}
button:active {
  border-image-source: url('img/ButtonBorder_press.png');
  outline: none;
}

.button .button {
  border-image-source: url('img/CancelBorder.png');
}
.button .button:hover {
  border-image-source: url('img/CancelBorder_hover.png');
}
.button .button:active {
  border-image-source: url('img/CancelBorder_press.png');
}

.leftcolumn {
  flex-grow: 2;
  width: 352px;
  display: flex;
  flex-wrap: wrap;
}

input {
  vertical-align: middle;
}

input {
  box-shadow: 0 0 8px 1px var(--blur-color);
}

input[type=text] {
  background-color: transparent;
  background-image: url(img/Input.png);
  background-size: cover;
  border: none;
  border-radius: 7px;
  height: 30px;
  padding: 0 0 4px;
  margin: 5px;
  width: 72px;
  box-sizing: border-box;
  text-align: center;
  color: var(--input-color);
  font: inherit;
  font-size: 19px;
  font-weight: 700;
}
input[type=text]:hover {
  background-image: url(img/Input_hover.png);
}
/*  This does not work because :focus seems to 
    override it in all cases
input[type=text]:active {
  background-image: url(img/Input_active.png);
  outline: none;
} */
input[type=text]:focus {
  background-image: url(img/Input_focus.png);
  outline: none;
  padding-bottom: 2px;
  margin-bottom: 3px;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background-size: cover;
  background-image: url(img/checkbox.png);
}
input[type=checkbox]:hover {
  background-image: url(img/checkbox_hover.png);
}
input[type=checkbox]:active {
  background-image: url(img/checkbox_press.png);
}
input[type=checkbox]:checked {
  background-image: url(img/checkbox_checked.png);
}
input[type=checkbox]:checked:hover {
  background-image: url(img/checkbox_checked_hover.png);
}
input[type=checkbox]:checked:active {
  background-image: url(img/checkbox_checked_press.png);
}

input[type=radio] {
  box-shadow: 0 0 8px 1px var(--blur-color), 
    0 0 3px 0 var(--blur-color) inset;
  border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 22px;
  width: 22px;
  background-size: cover;
  background-image: url(img/radio.png);
}
input[type=radio]:hover {
  background-image: url(img/radio_hover.png);
}
input[type=radio]:active {
  background-image: url(img/radio_press.png);
}
input[type=radio]:checked {
  background-image: url(img/radio_checked.png);
}

.resourcecategory, .outputh1 {
  width: 100%;
  color: var(--title-color);
  font-size: 22px;
  font-weight: 700;
  padding: 12px 0 8px;
  margin: 0;
  display: grid;
  grid-template-columns: minmax(280px, min-content) auto;
}

.resourcecategory:first-child::after, .outputh1:first-child::after {
  content: '';
  background-image: url(img/handle.png);
  background-size: 8px 30px;
  width: 100%;
  height: 30px;
}

.resourcecategory:first-child, .outputh1:first-child {
  padding-top: 0px;
}

.outputh1 {
  padding-bottom: 20px;
}

.resourceinput {
  margin: 9px;
  border-image: url('img/VirtualItemBorder.png') 
    9 fill / 9px / 9px repeat;
  width: 50px;
  height: 50px;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: auto min-content;
  overflow: hidden;
  justify-items: end;
}

.resourceinput input[type=text] {
  grid-area: 2 / 1 / 2 / 3;
  z-index: 2;
  background: none;
  border: none;
  color: #fff;
  text-shadow: 
    -2.5px 0 0 #000,
    2.5px 0 0 #000,
    0 -2.5px 0 #000,
    0 2.5px 0 #000,
    -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  text-align: end;
  width: 100%;
  height: initial;
  box-shadow: none;
}

.resourceinput input[type=checkbox] {
  grid-area: 1 / 2;
  z-index: 3;
  margin: 0;
}

.resourceinput a {
  grid-area: 1 / 1 / 3 / 3;
  z-index: 1;
}

.resourceinput img {
  width: 50px;
  height: 50px;
}

.rightcolumn {
  flex-grow: 1;
  width: 600px;
  display: flex;
  flex-direction: column;
}

.rightcolumn input[type=checkbox], .rightcolumn input[type=radio] {
  margin: 0 4px 4px 10px;
}

.settings {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.settings>div {
  align-self: flex-start;
  margin: 7px 0;
}

.settings>div:first-of-type {
  margin-top: 30px;
}

.goals>.goal {
  border-image: url('img/SectionBorder.png') 
    8 fill / 8px / 8px repeat;
    margin: 0 8px 24px;
    padding: 6px;
}

.goal {
  margin-left: 16px;
  padding: 8px 0 8px 16px;
}

.goal>.goal {
  border-left: var(--orange-border);
  position: relative;
}
.goal>.goal:last-of-type:after {
  content:"";
  position: absolute;
  display: block;
  top: 28px;
  left: -3px;
  width: 3px;
  height: calc(100% - 20px);
  background-color: var(--panel-bg);
}

.goal>.goal:before {
  content: " ";
  display: inline-block;
  margin-right: 4px;
  margin-left: -16px;
  width: 16px;
  border-bottom: var(--orange-border);
  position: relative;
}

.goal>.goal:first-of-type {
  margin-top: 4px;
}


/* The following is webkit only on for now, sorries */

::-webkit-scrollbar {
  width: 25px;
  height: 25px;
}

::-webkit-scrollbar-thumb {
  background-image: url(img/scrollbar_top.png), 
    url(img/scrollbar_bottom.png), 
    url(img/scrollbar_mid.png);
  background-position: top, bottom, center;
  background-repeat: no-repeat, no-repeat, repeat-y;
}

::-webkit-scrollbar-corner, ::-webkit-scrollbar-track {
  background: #333030;
}

::-webkit-scrollbar-track {
  box-shadow: 0 -4px 2px -2px #656565 inset,
    4px 0 2px -2px #252425 inset,
    0 6px 3px -3px #000 inset,
    -4px 0 2px -2px #252425 inset;
}

::-webkit-scrollbar-corner {
  box-shadow: 0 4px 2px -2px #656565 inset, 
    4px 0 2px -2px #252425 inset;
}

::-webkit-scrollbar-thumb:horizontal {
  background-image: url(img/scrollbar_top_h.png), 
    url(img/scrollbar_bottom_h.png), 
    url(img/scrollbar_mid_h.png);
  background-position: left, right, center;
  background-repeat: no-repeat, no-repeat, repeat-x;
}